/* 银行的图标 */
.bankicon {
    background-image: url(../img/bank/icon_onlinepay.png);
}
.bankicon.ABC {
    background-image: url(../img/bank/icoAbc2@3x.png);
}
.bankicon.ICBC {
    background-image: url(../img/bank/icoIcbc2@3x.png);
}
.bankicon.CCB {
    background-image: url(../img/bank/icoCcb2@3x.png);
}
.bankicon.CCB {
    background-image: url(../img/bank/icoCcb2@3x.png);
}
.bankicon.CEB {
    background-image: url(../img/bank/icoCebc2@3x.png);
}
.bankicon.GDB {
    background-image: url(../img/bank/icoCgb2@3x.png);
}

.bankicon.BOC {
    background-image: url(../img/bank/icoBoc2@3x.png);
}

.bankicon.PSBC {
    background-image: url(../img/bank/icoPsbc2@3x.png);
}

.bankicon.CMB {
    background-image: url(../img/bank/icoCmb2@3x.png);
}

.bankicon.COMM {
    background-image: url(../img/bank/icoBocom2@3x.png);
}

.bankicon.CITIC {
    background-image: url(../img/bank/icoCibk2@3x.png);
}

.bankicon.HXBANK {
    background-image: url(../img/bank/icoHxbc2@3x.png);
}

.bankicon.CIB {
    background-image: url(../img/bank/icoFjib2@3x.png);
}

.bankicon.SPABANK {
    background-image: url(../img/bank/icoPabc2@3x.png);
}

.bankicon.NYNB {
    background-image: url(../img/bank/icon_bank_GDNY@3x.png);
}

.bankicon.HURCB {
    background-image: url(../img/bank/icon_bank_HURCB@3x.png);
}

.bankicon.GRCB {
    background-image: url(../img/bank/icon_bank_GRCB@3x.png);
}

.bankicon.BOSZ {
    background-image: url(../img/bank/icon_bank_BOSZ@3x.png);
}

.bankicon.QDCCB {
    background-image: url(../img/bank/icon_bank_QDCCB@3x.png);
}

.bankicon.DLB {
    background-image: url(../img/bank/icon_bank_DLB@3x.png);
}

.bankicon.LYBANK {
    background-image: url(../img/bank/icon_bank_LYBANK@3x.png);
}

.bankicon.NJCB {
    background-image: url(../img/bank/icon_bank_NJCB@3x.png);
}

.bankicon.JSBANK {
    background-image: url(../img/bank/icon_bank_JSBC@3x.png);
}

.bankicon.ZJTLCB {
    background-image: url(../img/bank/icon_bank_ZJTLCB@3x.png);
}

.bankicon.ARCU {
    background-image: url(../img/bank/icon_bank_ARCU@3x.png);
}

.bankicon.ZBCB {
    background-image: url(../img/bank/icon_bank_QSB@3x.png);
}

.bankicon.CRCBANK {
    background-image: url(../img/bank/icon_bank_CRCBANK@3x.png);
}

.bankicon.CZCB {
    background-image: url(../img/bank/icon_bank_CZCB@3x.png);
}

.bankicon.EGBANK {
    background-image: url(../img/bank/icon_bank_EGBANK@3x.png);
}

.bankicon.SRCB {
    background-image: url(../img/bank/icon_bank_SRCB@3x.png);
}

.bankicon.ZZBANK {
    background-image: url(../img/bank/icon_bank_ZZBANK@3x.png);
}

.bankicon.CSCB {
    background-image: url(../img/bank/icon_bank_CSCB@3x.png);
}

.bankicon.GLBANK {
    background-image: url(../img/bank/icon_bank_GLB@3x.png);
}

.bankicon.WHRCB {
    background-image: url(../img/bank/icon_bank_WHRCB@3x.png);
}

.bankicon.BGB {
    background-image: url(../img/bank/icon_bank_BGB@3x.png);
}

.bankicon.BOD {
    background-image: url(../img/bank/icon_bank_BOD@3x.png);
}

.bankicon.GCB {
    background-image: url(../img/bank/icon_bank_GCB@3x.png);
}

.bankicon.BJBANK {
    background-image: url(../img/bank/icon_bank_BJBANK@3x.png);
}

.bankicon.QLBANK {
    background-image: url(../img/bank/icon_bank_QLBANK@3x.png);
}

.bankicon.CDCB {
    background-image: url(../img/bank/icon_bank_CDCB@3x.png);
}

.bankicon.WZCB {
    background-image: url(../img/bank/icon_bank_WZCB@3x.png);
}

.bankicon.HKB {
    background-image: url(../img/bank/icon_bank_HKB@3x.png);
}

.bankicon.CZBANK {
    background-image: url(../img/bank/icon_bank_CZBANK@3x.png);
}

.bankicon.HZCB {
    background-image: url(../img/bank/icon_bank_HZCB@3x.png);
}

.bankicon.HBC {
    background-image: url(../img/bank/icon_bank_HBC@3x.png);
}

.bankicon.JJBANK {
    background-image: url(../img/bank/icon_bank_JJCCB@3x.png);
}

.bankicon.GZB {
    background-image: url(../img/bank/icon_bank_GZB@3x.png);
}

.bankicon.BOHAIB {
    background-image: url(../img/bank/icon_bank_CBHB@3x.png);
}

.bankicon.WHCCB {
    background-image: url(../img/bank/icon_bank_WHCCB@3x.png);
}

.bankicon.TZCB {
    background-image: url(../img/bank/icon_bank_TZCB@3x.png);
}

.bankicon.NBBANK {
    background-image: url(../img/bank/icon_bank_NBBANK@3x.png);
}

.bankicon.SHBANK {
    background-image: url(../img/bank/icon_bank_SHBANK@3x.png);
}

.bankicon.SJBANK {
    background-image: url(../img/bank/icon_bank_SJBANK@3x.png);
}

.bankicon.DRCBCL {
    background-image: url(../img/bank/icon_bank_DRCB@3x.png);
}

.bankicon.FXCB {
    background-image: url(../img/bank/icon_bank_BOFX@3x.png);
}

.bankicon.GDRCC {
    background-image: url(../img/bank/icon_bank_GDRCC@3x.png);
}

.bankicon.TRC{
    background-image: url(../img/bank/trc.png);
}